* {
    box-sizing: border-box;
    margin: 0;
 	padding: 0;
  }	
  
  body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
  	width: 100vw;
  	height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
  
  form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 80%;
    
  }
  
  h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
	margin-top: 20px;
  }
  
  input {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  button {
    background-color: rgb(64,49,116);
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    width: 49%;
  }
  
  button:hover {
    background-color: rgb(64, 41, 147);
  }
  table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 16px;

}

thead {
  background-color: #ddd;
}

th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

td {
  padding: 10px;
}

tbody td:first-child {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  th, td {
  display: block;
  }

  th {
    text-align: center;
  }

  tbody td:first-child {
    width: 100%;
  }
}
  